<?xml version='1.0' encoding='utf-8'?>
<widget id="xyz.outertale" version="$(x)" xmlns="http://www.w3.org/ns/widgets"
   xmlns:cdv="http://cordova.apache.org/ns/1.0">
   <name>OUTERTALE</name>
   <description>You could almost call this game a roulette</description>
   <author email="go-eat-a@cheer.io" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">spacey_432</author>
   <content src="index.html" />
   <access origin="*" />
   <allow-navigation href="*" />
   <allow-intent href="*" />
   <platform name="android">
      <icon density="ldpi" src="icon.png" />
      <icon density="mdpi" src="icon.png" />
      <icon density="hdpi" src="icon.png" />
      <icon density="xhdpi" src="icon.png" />
      <icon density="xxhdpi" src="icon.png" />
      <icon density="xxxhdpi" src="icon.png" />
      <preference name="Orientation" value="landscape" />
      <preference name="Fullscreen" value="true" />
   </platform>
</widget>